In [3]:
from sqlalchemy import create_engine
import pandas as pd

# Create the engine
engine = create_engine('postgresql://leaguify:leaguify@mpserver:5432/leaguify')

# Define your query
query1 = "SELECT * FROM champion;"
query2 = "SELECT * FROM champion_stats;"
query3 = "SELECT * FROM champion_tags;"
query4 = "SELECT * FROM summoner_champion_mastery;"
query5 = "SELECT * FROM summoner;"
query6 = "SELECT * FROM summoner_league;"

# match information
query7 = "SELECT * FROM match;"
query8 = "SELECT * FROM participant;"
query9 = "SELECT * FROM participant_challenges;"
query10 = "SELECT * FROM participant_stats;"




# Use pandas to execute the query and load the result into a DataFrame
df1 = pd.read_sql(query1, engine)
df2 = pd.read_sql(query2, engine)
df3 = pd.read_sql(query3, engine)
df4 = pd.read_sql(query4, engine)
df_summoner = pd.read_sql(query5, engine)

# match dataframes
df_summonerLeague = pd.read_sql(query6, engine)
df_match = pd.read_sql(query7, engine)
df8 = pd.read_sql(query8, engine)
df9 = pd.read_sql(query9, engine)
df10 = pd.read_sql(query9, engine)

# Optionally, close the engine if you're done with it
engine.dispose()

In [4]:
df_summoner.rename(columns=lambda x: f"participant0_" + x, inplace=True)
df_summonerLeague.rename(columns=lambda x: f"participant0_" + x, inplace=True)

# Horizontally concatenate the dataframes
merged_df = pd.concat([df_match, df_summoner, df_summonerLeague], axis=1)

merged_df

,matchId,platformId,gameId,seasonId,patch,queueId,gameVersion,mapId,gameDuration,gameCreation,...,participant0_summonerName,participant0_leaguePoints,participant0_wins,participant0_losses,participant0_veteran,participant0_inactive,participant0_freshBlood,participant0_hotStreak,participant0_timeCreated,participant0_lastUpdate
0,EUW1_6609653840,EUW1,6.609654e+09,13.0,19.0,420.0,13.19.533.1909,11.0,1770.0,1.695824e+12,...,PCS Enva,409,215,197,True,False,False,False,2023-09-29 16:20:41.575549+00:00,None
1,EUW1_6609222568,EUW1,6.609223e+09,13.0,18.0,420.0,13.18.530.4653,11.0,1662.0,1.695769e+12,...,Oschuhombre,227,45,31,False,False,False,False,2023-09-29 16:20:41.575549+00:00,None
2,EUW1_6611677780,EUW1,6.611678e+09,13.0,19.0,420.0,13.19.533.1909,11.0,1781.0,1.695948e+12,...,C172NSKYHAWK,329,128,104,False,False,False,False,2023-09-29 16:20:41.575549+00:00,None
3,EUW1_6599340384,EUW1,6.599340e+09,13.0,18.0,420.0,13.18.530.4653,11.0,1343.0,1.695115e+12,...,INT storm,235,122,113,False,False,False,False,2023-09-29 16:20:41.575549+00:00,None
4,EUW1_6601631407,EUW1,6.601631e+09,13.0,18.0,420.0,13.18.530.4653,11.0,1770.0,1.695291e+12,...,ok win,232,191,183,False,False,False,True,2023-09-29 16:20:41.575549+00:00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,eIramir,1116,155,110,False,False,False,False,2023-09-30 19:44:04.504809+00:00,None
5745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Charlie Heaton,928,79,48,False,False,False,False,2023-09-30 19:44:04.504809+00:00,None
5746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,avarice61,879,307,285,True,False,False,False,2023-09-30 19:44:04.504809+00:00,None
5747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,plzdive,880,193,162,True,False,False,False,2023-09-30 19:44:04.504809+00:00,None
5748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BardouCrank,698,100,75,False,False,True,False,2023-09-30 19:44:04.504809+00:00,None

In [18]:
df4

,id,puuid,championId,championPointsUntilNextLevel,chestGranted,lastPlayTime,championLevel,summonerId,championPoints,championPointsSinceLastLevel,...,kills,deaths,assists,lp,maxKills,cs,damage,gold,timeCreated,lastUpdate
0,17,YC2X_cNaHygenLGv_Dqket5GkbbCh2GpojI5xT_9wK_f6L...,68,0,True,1695770545000,7,HCBBZMDl-hpWDCPb6IfNCwMceTBQVWZVWpuNqQqB25009F0,876938,855338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-29 16:27:32.814576+00:00,NaT
1,16,p79kzHP_VhkVzpI957bj-rYMlO3JK8sIf_vbnDyXBMTpd0...,151,0,True,1695770545000,7,jh-nQU42S9gLUGDecWPpSaR-8YnESekXwc6lT6BagIWP56A,107456,85856,...,6.0,7.2,5.3,58.0,15.0,163.0,18735.0,10658.0,2023-09-29 16:27:32.814576+00:00,2023-09-30 11:18:08.573097+00:00
2,2,7D8l0f1P56P-yFqGbFXlATP-mUKkaLFq2m4yG2rz6116k3...,147,0,True,1695833970000,5,qalk7nmXB0yIIew2JpQixnamg1rFSQkV8Iahr77ucVPOTP...,28490,6890,...,9.0,4.0,6.3,245.0,11.0,178.7,18294.0,12671.0,2023-09-29 16:20:41.575549+00:00,2023-09-30 11:18:08.702605+00:00
3,21,LKseEey2ebBQrAIY1nlvKjp9cW6ZpJ7Q5vzoe0nwAkBERZ...,136,482,False,1695949880000,1,lKzzgE69_EtrG2yaBoTMqR63wsU1c7eOIAGaOgEGu8UQBu3y,1318,1318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-29 16:38:38.522100+00:00,NaT
4,22,84VWpSEBkjY0fv3hb1g9ksuFd4vuOfEYB1nLGEdS1k8qCu...,62,0,True,1695949880000,5,X-rMY8Xs_NuJH9LWMqDXXMRBV1pkDB3u6w_b7K9CMuZ4CHpT,95449,73849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-29 16:38:38.522100+00:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744,5784,A5AhHOPDTs2fmUw2BY_jfjB_2RFu26PfnC1aaC6LdhKkCm...,95,0,True,1696074987000,7,LIKzy03WIpFHM5jTCxilwqEzYUAhnS2zM6r1I6Q2Qf_ukV...,78396,56796,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-30 19:44:04.504809+00:00,NaT
5745,5785,kBBdttHkbBhlOjiskGMGZrTSSxsy8ZC526oPJ9CfKxxcVw...,62,0,True,1696074987000,6,mZh2-_j0Xkkw70dwn0mXwwOkFzrw0xvgIY5miTGObgvnWJbX,282740,261140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-30 19:44:04.504809+00:00,NaT
5746,5786,8hgi_fFqsBTROGyTd9Hoao24iPFWqPBoOeBSO-DtlrjKWR...,31,0,True,1696086791000,5,80zwUXLb3xVCdbVy4ht6e9FQ-NlcxMZyQ970p5Ryr3lr5Xs,451131,429531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-30 19:44:04.504809+00:00,NaT
5747,5787,WI5dIF4BdjykV9lbESUUmk7eUbcaax-SzDu-Y49dMUBohD...,127,0,False,1696074987000,5,g7HIokce3MJ_4jW1fXDSwSOrhaCImp2JqyUsRF915yhQt8...,30744,9144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-30 19:44:04.504809+00:00,NaT
5748,5788,B4NtFZpEa9x76oChzWlAkBD_GLS7MZ4E0zznYKI8JuzLLw...,13,0,True,1696101532200,7,1RQDrVygWcYeQrgYdyuVGNHINSBB3CCyJYQVyBLqxQmq9sg,533652,512052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-30 19:44:04.504809+00:00,NaT